*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background: url('../img/car.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  
}
.mask{
  background-color: #0000008c;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 420px;
  color: #fff;
  padding: 18px;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 1px rgba(0 0, 0, .2);
}
.container p{
  text-align: center;
  
  font-size: 18px;
}
.container h1{
  text-align: center;
  font-size: 35px;
  font: Helvetica;
  margin: 10px 0;
}
form .inputWrapper{
  width: 100%;
  height: 45px;
  margin: 15px 0;
  position: relative;
}
.inputWrapper input{
  width: 100%;
  height: 100%;
  outline: none;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 55px 12px 25px;
  background: transparent;
  border: 1px solid #e4e4e4;
  border-radius: 45px;
}
.inputWrapper input::placeholder{
  color: #f4f4f4;
}
.inputWrapper input:focus{
  outline: 2px solid #2768d5;
}
.inputWrapper img{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
form button{
  display: block;
  border: none;
  border-radius: 45px;
  font-size: 20px;
  font-weight: 600;
  color: #f4f4f4;
  cursor: pointer;
  height: 45px;
  width: 100%;
  background-color: #2768d5;
  box-shadow: 0 0 10px rgba(0 0, 0, .1);
}
form button:hover{
  color: #2768d5;
  background-color: whitesmoke;
}
form .rememberMe{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.rememberMe input{
  accent-color: #2768d5;
}
.rememberMe p{
  font-size: 18px;
}
.rememberMe .p{
  margin-right: 5px;
}
a{
  color: #fff;
}

.error{
  border: 2px solid #ae1f1f;
}

@media(max-width:600px){
  .container{
    width: 320px;
  }
  form .rememberMe {
    margin-right: 0px;
  }
  .rememberMe p{
    font-size: 16px;
  }
}